@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

* {
    font-family: reem kufi;
    margin: 0;
    padding: 0;
}

#admin-landing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
}

#adminlogologin {
    max-height: 50px;
    filter: invert(100%);
}

.admin-logo-bg {
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: #0a0e2f;
}

.admin-logo-bg>img {
    padding-bottom: 5%;
}

.btn {
    background-color: #9152FE;
    color: #fff;
    border: none;
}

.btn:hover {
    background-color: #9152FE;
    color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset;
}

.admin-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    margin-left: 5%;
}

#admin-login-form {
    display: flex;
    flex-direction: column;
}

#admin-login-btn {
    width: 45%;
}

/* post-login */
#navbar-logo {
    max-height: 50px;
    filter: invert(100%);
}

h2 {
    color: #fff;
}

.nav-item {
    margin: 0 2vw 0 2vw;
}

body {
    background-color: #0a0e2f;
}

/* dashboard */
#admin-dashboard {
    display: flex;
    justify-content: center;
}

.middle-admin {
    width: 80%;
}

#dashboard-container {
    width: 100%;
    background-color: #fff;
    padding: 2%;
    border-radius: 25px;
}

#dashboard-tools {
    display: flex;
}

.search-length {
    width: 65%;
}

.toggleswitch {
    display: flex;
    align-items: center;
    margin: 0 10px 0 10px;
}

.sort-button {
    width: 10%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #9152FE;
}

input:focus+.slider {
    box-shadow: 0 0 1px #9152FE;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.sortbtn {
    margin-left: 10px;
}

/* inside table */
table {
    margin-top: 2%;
    text-align: center;
}

tr {
    vertical-align: middle;
}

thead {
    background-color: #9152FE;
}


.dash-icon {
    color: #9152FE;
    font-size: 32px;
}

.btn-admin {
    background-color: #fff;
    color: #9152FE;
    border: 2px solid #9152FE;
}
