@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

* {
    font-family: reem kufi;
    margin: 0;
    padding: 0;
}

#admin-landing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
}

.admin-logo-bg {
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: grey;
}

.admin-logo-bg>img {
    padding-bottom: 5%;
}

.admin-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    margin-left: 5%;
}

#admin-login-form {
    display: flex;
    flex-direction: column;
}

#admin-login-btn {
    width: 45%;
}

/* post-login */
#navbar-logo {
    max-height: 50px
}

.nav-item {
    margin: 0 2vw 0 2vw;
}

/* dashboard */
#dashboard-container {
    width: 80%;
    background-color: grey;
    padding: 2%;
}

#dashboard-tools {
    display: flex;
}

.search-length {
    width: 65%;
}

.toggleswitch {
    display: flex;
    align-items: center;
    margin: 0 10px 0 10px;
}

.sort-button {
    width: 10%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.sortbtn {
    margin-left: 10px;
}

/* inside table */
