@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

* {
    font-family: reem kufi;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(10, 14, 47);
}

#user-dashboard {
    display: flex;
    justify-content: center;
}

.logo {
    max-height: 50px;
    filter: invert(100%);
}

h2 {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
}

h1 {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    color: white;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

h4 {
    display: flex;
    justify-content: center;
}


.payment-container>h4 {
    padding-top: 50px;
}

.payment-container {
    background-color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin: 5%;
    border-radius: 40px;
}

.box-container {
    display: flex;
    justify-content: center;
}

.earlyBird-container {
    background-color: white;
    border: 6px solid rgb(196, 196, 196);
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin: 5%;
    border-radius: 40px;
}

.normalPrice-container {
    background-color: white;
    border: 6px solid rgb(196, 196, 196);
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 5%;
    margin: 5%;
    border-radius: 40px;
}

.binusian-price {
    border-right: 6px solid rgb(196, 196, 196);
    width: 50%;
    height: 100%;
}

.rekeningTransfer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 5%;
    margin: 5%;
}

.paymentVerification>p {
    color: white;
    font-size: 24px;
}

.box-container>.payment-indicator {
    display: flex;
    justify-content: space-between;

}


.none-and-gradient {
    display: flex;
    justify-content: center;
}

.none-and-gradient>h1 {
    padding: 5px;
}


.gradient-font {
    background: -webkit-linear-gradient(#FB4FFF, #9152FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.price {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.price>p {
    padding: 3px;
}

.rp {
    font-size: 24px;
    margin-top: 25px;

}

.nominal {
    font-size: 48px;
}

.rekeningTujuan {
    font-size: 21px;
    font-weight: bold;
}

.norek {
    font-size: 43px;
}

.paymentVerification>p {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
}

.upload-file-button {
    margin-left: 20%;
    margin-top: 20px;
    margin-bottom: 100px;
    align-self: flex-start;
}

/* UPLOAD FILE BUTTON STYLE */

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
}

[type="file"]+label {
    background-color: rgb(145, 82, 254);
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    height: 4rem;
    line-height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: background-color 0.3s;
}

[type="file"]+label:hover {
    background-color: rgb(145, 82, 254);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset;
}

.fa-upload {
    padding: 5px;
}

/* pillbox */
.paymentVerification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pill-container {
    width: 80%;
    display: flex;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    border-radius: 75px;
    background-image: linear-gradient(to right, #FB4FFF, #9152FE);
}

.payment-status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.payment-icon {
    font-size: 50px;
}

.payment-text {
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
}
