@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Reem Kufi', sans-serif;
}

#adminlogologin {
    filter: invert(100%);
}

.loginPage {
    display: flex;
    position: relative;
}

.logo {
    filter: invert(100%);
}

.headLoginPage {
    display: flex;
    justify-content: end;
}

.headLoginPage div {
    padding: 3px;
    font-weight: 500;
}

.leftLoginPage {
    background-color: rgb(10, 14, 47);
    position: fixed;
    height: 100%;
    width: 550px;
    padding: 50px;
}

.leftLoginPage>h2 {
    padding-top: 30px;
    color: white;
}

.rightLoginPage {
    width: 100%;
    margin-left: 550px;
    padding: 50px;
}

.loginForm h3 {
    padding-top: 80px;
    font-weight: bold;
}

form>div {
    padding-top: 7px;
}

label {
    font-weight: 500;
}

.passwordLabel {
    display: flex;
    justify-content: space-between;

}

button {
    width: 200px;
}

.btn {
    background-color: #9152FE;
    color: #fff;
    border: none;
}

.btn:hover {
    background-color: #9152FE;
    color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset;
}

.btn-primary {
    background-color: rgb(145, 82, 254);
    border-color: rgb(145, 82, 254);
}

.btn-primary :visited {
    background-color: rgb(145, 82, 254);
    border-color: rgb(145, 82, 254);
}

.form-control {
    background-color: rgb(196, 196, 196);
}
