@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400;500;600;700&display=swap');

* {
    font-family: reem kufi;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0a0e2f;
}

#navbar-logo {
    max-height: 50px;
}

#user-dashboard {
    display: flex;
    justify-content: center;

}

.userdashboard-container {
    background-color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin: 5%;
    border-radius: 40px;
}

.btn {
    background-color: #9152FE;
    color: #fff;
    border: none;
}

.btn:hover {
    background-color: #9152FE;
    color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset;
}

.birthdate {
    display: flex;
    justify-content: space-between;
}

.form-control {
    background-color: rgb(196, 196, 196);
}

.idCard {
    display: flex;
    justify-content: space-between;
}

#usersubmit {
    background-color: rgb(196, 196, 196);
    border: none;
}
